{{ define "config.html" }}
<link rel="stylesheet" type="text/css" href="/fs/public/css/config.css?v={{ ver }}" />
    <div class="container-lg mt-4 page-cq">
    <div class="grid-2">
        <div>
        <div class="card border-primary mb-4">
            <div class="card-header">Config</div>
        <div class="card-body">
            <form action="/config/" method="post">
                <div class="mb-2">
                    <label class="form-label mb-1">Host<button type="button" class="btn tip-button" mytitle="Restart the app if changed">
                        <i class="bi bi-question-circle"></i>
                    </button></label>
                    <input name="host" type="text" class="form-control" value="{{ .Config.Host }}">
                </div>
                <div class="mb-2">
                    <label class="form-label mb-1">Port<button type="button" class="btn tip-button" mytitle="Restart the app if changed">
                        <i class="bi bi-question-circle"></i>
                    </button></label>
                    <input name="port" type="text" class="form-control" value="{{ .Config.Port }}">
                </div>
                <div class="mb-2">
                    <label class="form-label mb-1">Theme</label>
                    <select name="theme" class="form-select">
                        <option selected>{{ .Config.Theme }}</option>
                        {{ range .Themes }}
                            <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label mb-1">Color mode</label>
                    <select name="color" class="form-select">
                        <option selected>{{ .Config.Color }}</option>
                        <option value="light">light</option>
                        <option value="dark">dark</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label mb-1">HeatMap Color</label>
                    <input name="heatcolor" value="{{ .Config.HeatColor }}" type="color" class="form-control form-control-color">
                </div>
                <div class="mb-2">
                    <label class="form-label mb-1">Page Step<button type="button" class="btn tip-button" mytitle="How many items to show on one page (for Weight and Stats)">
                        <i class="bi bi-question-circle"></i>
                    </button></label>
                    <input name="pagestep" type="number" class="form-control" value="{{ .Config.PageStep }}">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Save</button>
            </form>
        </div>
        </div>
        </div>
        <div>
            <div class="card border-primary mb-4">
                <div class="card-header">Auth</div>
                <div class="card-body">
                    <form action="/config/auth" method="post">
                        <div class="mb-2">
                            <label class="form-label mb-1">Enable<button type="button" class="btn tip-button" mytitle="Authentication is only safe when used over HTTPS and with a strong password">
                                <i class="bi bi-question-circle"></i>
                            </button></label>
                            <div class="form-check form-switch">
                                {{ if .Auth.Auth }}
                                <input class="form-check-input" type="checkbox" name="auth" checked>
                                {{ else }}
                                <input class="form-check-input" type="checkbox" name="auth">
                                {{ end }}
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label mb-1">Expire after<button type="button" class="btn tip-button" mytitle="When user session expires. Can be set with suffixes m(minute), h(hour), d(day) or M(month). Default: 7d">
                                <i class="bi bi-question-circle"></i>
                            </button></label>
                            <input name="expire" type="text" class="form-control" value="{{ .Auth.ExpStr }}">
                        </div>
                        <div class="mb-2">
                            <label class="form-label mb-1">Login<button type="button" class="btn tip-button" mytitle="Must not be empty">
                                <i class="bi bi-question-circle"></i>
                            </button></label>
                            <input name="user" type="text" class="form-control" value="{{ .Auth.User }}">
                        </div>
                        <div class="mb-2">
                            <label class="form-label mb-1">New password<button type="button" class="btn tip-button" mytitle="Stored encrypted in config file">
                                <i class="bi bi-question-circle"></i>
                            </button></label>
                            <input name="password" type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Save</button>
                    </form>
                </div>
            </div>
            <div class="card border-primary mb-4">
                <div class="card-header">About (<a href="https://github.com/aceberg/ExerciseDiary/releases/tag/{{ .Version }}" target="_blank">{{ .Version }}</a>)</div>
                <div class="card-body">
                    <p>If you find this app useful, please, <a href="https://github.com/aceberg#donate" target="_blank">donate</a></p>
                    <p>Commission you own app (Golang, HTML/JS). Contact and prices <a href="https://github.com/aceberg" target="_blank">here</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>

{{ template "footer.html" }}
{{ end }}